<%- include('../partials/header') %>
    <br><br><br>
    <div id="view">
        <div class="feed">
            <img class="feed-post" src="<%= doodle.img %>">
        </div>
        <div>
            <form action="/doodles/<%= doodle._id %>?_method=PUT" method="POST">
                <button id="like" type="submit">
                    <img src="/images/like.png" alt="like-button">
                </button>
                <div>
                    <%= doodle.likes %>
                </div>
            </form>
        </div>


        </button>
        <% if (user) { %>
            <form id="add-comment-form" method="POST" action="/doodles/<%= doodle._id %>/comments">
                <label for="comment"></label>
                <textarea id="text-area" name="content" rows="4" cols="50"></textarea>
                <button class="submit-button" type="submit">Submit</button>
            </form>
            <% } %>
    </div>

    <div>
        <% if (doodle.comments.length) { %>
            <% doodle.comments.forEach(function(c) { %>
                <tr>
                    <td class="comment"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer">
                        <%= c.userName %>
                    </td>
                    <td>
                        <%= c.content%>
                    </td>
                    <td></td>
                    <td>

                    <td></td>
                    <td>
                        <% if (user?._id.equals(c.user)) { %>
                            <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                                <button type="submit">X</button>
                            </form>
                            <% } %>
                    </td>
                </tr>
                <% }) %>
                    <% } %>
        </div>
    </div>
    <%- include('../partials/footer') %>